body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: BlinkMacSystemFont  'Microsoft Yahei' arial;
}
*{
    -webkit-user-select:none;
}
input{
    -webkit-user-select:text;
}
input,select{
    outline-color: #3797FD;
    outline-width: 2px;
    outline-offset: -3px;
    /*cursor: pointer;*/
}
.h5animator-top-bar{
    height: 60px;
    background-color: #282828;
    color: #fff;
    position: relative;
    display: flex;
    display: -webkit-flex;
}

.h5animator-center-area {
    position: absolute;
    top: 60px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    left: 200px;
    padding-top: 20px;
    right: 280px;
    background-color: #F2F2F2;
}

.h5animator-style-editor{
    position: absolute;
    right: 0px;
    top: 0px;
}

.h5animator-right-pane{
    position: absolute;
    right: 0;
    top: 60px;
    bottom: 0;
    margin: 0;
    width: 280px;
}
