.right-panel-container  .right-panel-nav-tabs{
    border-bottom: 1px solid #ccc;
}
.right-panel-container .right-panel-tab-item{
    position: relative;
    display: inline-block;
    border-left: 1px solid #ccc;
    min-width: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    padding: 0 18px;
    height: 42px;
    line-height: 42px;
}
.right-panel-container .right-panel-tab-item:first-of-type{
    border-left:none;
}
.right-panel-container .right-panel-tab-item:last-of-type{
    border-right:1px solid #ccc;
}
.right-panel-container .right-panel-tab-item.current{
    background: #ea5655;
    color: #fff;
    border-color:#ea5655;
}
.right-panel-container .current+.right-panel-tab-item{
    border-left-color:#ea5655;
}

.right-panel-container .property-group-title{
    font-weight: normal;
    background: #e8e8e8;
    padding: 5px 40px;
    font-size: 14px;
    color: #4f4f4f;
    position: relative;
    text-shadow: 0 1px #ddd;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.right-panel-container .property-container {
    position: relative;
    height: 26px;
    margin: 10px 0;
    font-size: 12px;
    display:flex;
    display: -webkit-flex;
}

.h5animator-right-pane label.name {
    display: inline-block;
    margin-right: 6px;
    width: 84px;
    text-indent: 24px;
    margin-top: 2px;
}

.h5animator-right-pane input,
.h5animator-right-pane select {
    flex:1;
    -webkit-flex:1;
    /*-webkit-appearance:none;*/
    color: #333;
    background: #fff;
    border: 1px soild #d9d9d9;
    height: 22px;
    font-size: 14px;
    text-indent: 8px;
    margin-right: 20px;
    line-height: 22px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}
